<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniba.di.e_cultureexperience">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:allowClearUserData="true"
        android:theme="@style/Theme.ECultureExperience">
        <activity
            android:name=".Percorso.MostraPercorso"
            android:exported="false"
            android:label="@string/title_activity_mostra_luogo_di_interesse2"
            android:theme="@style/Theme.ECultureExperience.NoActionBar" />
        <activity
            android:name=".OggettoDiInteresse.MostraOggettoDiInteresse"
            android:exported="false"
            />
        <activity
            android:name=".LuogoDiInteresse.MostraLuogoDiInteresse"
            android:label="@string/app_name"
            android:parentActivityName=".DashboardMete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Accesso.FirstAccessActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardMete"
            android:exported="true">
        </activity>
        <activity
            android:name=".Accesso.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Accesso.RegistrationActivity"
            android:exported="true" />
        <activity android:name=".QuizGame.RisultatoQuizActivity" />
        <activity
            android:name=".QuizGame.StartGame"
            android:exported="false" />
        <activity
            android:name=".Accesso.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Accesso.ProfileActivity"
            android:exported="true" />
        <activity android:name=".QuizGame.DashboardActivity" />
    </application>

</manifest>