<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.uniba.di.e_cultureexperience">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECultureExperience"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Accesso.CambiaLinguaActivity"
            android:exported="false"
            android:label="@string/edit_profile"
            android:theme="@style/Theme.ECultureExperience.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name=".LuogoDiInteresse.MostraLuogoDiInteressePreferitoActivity"
            android:exported="false"
            android:label="@string/percorsi_preferiti" />

        <activity
            android:name=".Percorso.MostraPercorsoActivity"
            android:exported="true"
            android:label="@string/percorsi_preferiti"
             />

        <activity
            android:name=".OggettoDiInteresse.MostraOggettoDiInteresseActivity"
            android:theme="@style/Theme.ECultureExperience.NoActionBar" />

        <activity
            android:name=".LuogoDiInteresse.MostraLuogoDiInteresseActivity"
            android:label="@string/app_name"
            android:parentActivityName=".DashboardMeteActivity"
            android:theme="@style/Theme.MyApplication3.NoActionBar" />

        <activity
            android:name=".DashboardMeteActivity"
            android:exported="true" />

        <activity
            android:name=".Accesso.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ECultureExperience.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".QuizGame.RisultatoQuizActivity"
            android:label="@string/result_quiz_activity"
            />

        <activity
            android:name=".QuizGame.TimeOutActivity" />

        <activity
            android:name=".QuizGame.PuzzleGame"
            android:exported="true"
            android:theme="@style/Theme.MyApplication3.NoActionBar">
        </activity>

        <activity
            android:name=".Accesso.ForgotPasswordActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".Accesso.ProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication3.NoActionBar" />

        <activity
            android:name=".QuizGame.QuizGameActivity"
            android:exported="true" />

        <activity
            android:name=".QrCodeScanner" />

    </application>

</manifest>